body {
background-color: #99A799;
}
h1 {
  font-size: 70px;
  margin-top: -20px;
  text-transform: capitalize;
}
h2 {
  font-size: 50px;
  margin-bottom: 10px;
}
h4 {
  font-size: 20px;
  padding: -100px;
}
h6 {
  font-size: 12px;
  margin-top: -5px;
  padding-bottom: 15px;
  text-decoration: underline;
  padding-left: 5px;
}
p {
  text-transform: capitalize;
}
small {
color: #E2C2B9;
font-family: courier;
}
a {
color: #E2C2B9;
text-decoration: none;
}
a:hover {
color: #E2C2B9;
text-decoration: underline; 
}
.container {
  padding-top: 30px;
  opacity: var(-100px);
  max-width: 800px;
  margin: 0 auto;
  color: #99A799;
}
.card {
background-color: #D3E4CD;
border-color: #E2C2B9;
}
.search-form {
  position: relative;
  right: -250px;
}
.search-button {
  background-color: #E2C2B9;
  border: #E2C2B9;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  padding: 3px;
  position: relative;
  right: 100px;
}
.current-button {
  background-color: #E2C2B9;
  border: #E2C2B9;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  padding: 3px;
  position: relative;
  right: 115px;
}

.degrees {
  font-size: 15px;
}

.todays-emoji {
  margin-top: -200px;
  margin-bottom: -150px;
  position: relative;
  right: -400px;
  text-align: center;
  top: -100px;
  width: 225px;
}

.wind-speed {
text-transform: lowercase;
}

.weather-forecast {
  color: #99A799;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.row {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 15px;
}
